html,
body {
  overflow: hidden;
}

footer {
  clear: both;
}

/* Contain floats: h5bp.com/q */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
lcf { zoom: 1; }
.topbar .container-fluid {
  background: url("../img/Wikipedia-logo.png") no-repeat right -40px
}


/* Graph */

circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

circle.node.selected {
    stroke: #f00;
    stroke-width: 3px;
}

line.hover {
  stroke: #0064cd;
  stroke-width: 2px;
}

/* Autocomplete */

.ac_results {
  margin: -4px 0 0 0;
  padding: 0px;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
  border-top: 4px solid #fff;  
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;  
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /* 
  if width will be 100% horizontal scrollbar will apear 
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /* 
  it is very important, if line-height not setted or setted 
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
}

.ac_loading {
  background: white url('../img/indicator.gif') right center no-repeat;
}

.ac_odd {
  background-color: #F9F9F9;
}

.ac_over {
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement {
  display: block;
  height: 10px;
}

::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
  background-color: transparent;
}

::-webkit-scrollbar-track:enabled {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px 0 0 6px;
     -moz-border-radius: 6px 0 0 6px;
          border-radius: 6px 0 0 6px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-corner:horizontal {
  width: 0;
}

#loader {
    background: url('../img/loader.gif') no-repeat center center #fdfdfd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

#chart {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 250px;
  right: 0;
  overflow: auto;
}

#sidebar {
  position: fixed;
  top: 40px;
  bottom: 0;
  overflow: auto;
  width: 250px;
  padding: 10px 0 10px 10px;
  margin: -10px 0 -10px -10px;
  background: #f5f5f5;
  border-right: solid 1px #eee;
  -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);
  box-shadow:         inset 0 0 10px rgba(0,0,0,.3);
}

#element-name {
  margin: 0;
  padding: 10px 5px 10px 10px;
  overflow: hidden;
}

#element-children {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

#element-children a {
  display: block;
  padding: 2px 10px 2px 15px;
  margin-right: 5px;
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 0 6px 6px 0;
     -moz-border-radius: 0 6px 6px 0;
          border-radius: 0 6px 6px 0;
}

#element-children .mark,
#element-children a:hover {
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-decoration: none;
}